<div class="container">
    <h1 class="text-light">{{header}}{{dot}}</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="text-center mt-5 text-light ">MY BANK</h2>
            <form class="fc" action="">
                <input #acno type="text " [placeholder]="accPlaceholder" class="ibox mt-5"><br><br>
                <input #pswd type="password" placeholder="Password" class="ibox"><br><br>
                <input (click)="login(acno,pswd)" type="button" value="Login" class="btn btn-primary">
            </form><br>
            <label class="text-light" for="">Not a User ?</label>&nbsp; <a href="">Register !</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>