<h1 class="text-light text-center mb-5">Welcome {{user}} </h1>
<button (click)="logout()" type="button" style="margin-left: 1410px;" class="btn btn-warning">Logout</button><br><br>

<a class="text-light" style="margin-left: 1350px; text-decoration: none;" routerLink="/transaction">Transaction history</a><br><br>
<button (click)="deleteAcc()"  type="button" style="margin-left: 1350px;" class="btn btn-danger">Delete Account</button><br><br>

<!-- child -->
<app-delete-confirm (onDelete)="delete($event)" (onCancel)="cancel()" [item]="acno"></app-delete-confirm>



<div class="container">
    <div [ngClass]="acno?'c1':''" class="row">
        <div  class="  col-5 border solid" >
            <h1 class="text-light mt-5">Deposit Form</h1>
            <form [formGroup]="depositForm" class="fc ms-5" action="" (ngSubmit)="deposit()">
               
                <input formControlName="acno" name="acno" type="text " placeholder="Account Number"
                    class="ibox mt-5 w-75 "><br><br> 
                    <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors"
                    style="color: red;">
                    Invalid Account Number
                </div>
    
                <input formControlName="pswd" name="pswd" type="password" placeholder="Password" class="ibox w-75 "><br><br>
                <div *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors"
                    style="color: red;">
                    Invalid Password
                </div>
                <input formControlName="amount" name="amount" type="text " placeholder="Amount" class="ibox w-75 "><br><br>
                <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors"
                    style="color: red;">
                    Invalid Amount
                </div>
                <input type="submit" value="Deposit" class="btn btn-primary ">
            </form><br>
        </div>
        <div class="col-2">

        </div>
        <div class="col-5 border solid ">
            <h1 class="text-light mt-5">Withdraw Form</h1>
            <form [formGroup]="withdrawForm" class="fc ms-5" action="" (ngSubmit)="withdraw()">
               
                <input formControlName="acno" name="acno" type="text " placeholder="Account Number"
                    class="ibox mt-5 w-75"><br><br> 
                    <div *ngIf="this.withdrawForm.get('acno')?.touched&&this.withdrawForm.get('acno')?.errors"
                    style="color: red;">
                    Invalid Account Number
                </div>
    
                <input formControlName="pswd" name="pswd" type="password" placeholder="Password" class="ibox w-75"><br><br>
                <div *ngIf="this.withdrawForm.get('pswd')?.touched&&this.withdrawForm.get('pswd')?.errors"
                    style="color: red;">
                    Invalid Password
                </div>
                <input formControlName="amount" name="amount" type="text " placeholder="Amount" class="ibox w-75"><br><br>
                <div *ngIf="this.withdrawForm.get('amount')?.touched&&this.withdrawForm.get('amount')?.errors"
                    style="color: red;">
                    Invalid Amount
                </div>
                <input type="submit" value="Withdraw" class="btn btn-primary">
            </form><br>
        </div>
    </div>
</div>
